<header>
    <div class="container">
      <a href="#" class="logo">Student Registration APP </a>
      <nav>
          <ul>
            <ng-container *ngIf="adminMenu">
              <li><a (click)="handleAdminStudent()">Ad User Details</a></li>
              <li><a (click)="handleAdminCourse()">Ad Course Details</a></li>
            </ng-container>

            <ng-container *ngIf="userMenu">
              <li><a (click)="handleStudent()">Student Details</a></li>
              <li><a (click)="handleCourse()">Course Details</a></li>
              <li><a (click)="handleStudentCourseDetails()">StudentCourseDetails</a></li>
            </ng-container>

            <li><a (click)="handleLogout()">Logout</a></li>
          </ul>
        
      </nav>
    </div>
  </header>
  