<!-- <p-dialog  [(visible)]="displayModal" [modal]="true" [style]="{width: '60vw'}" [baseZIndex]="10000"
[draggable]="false" [resizable]="false" closeIcon="pi pi-times" (onHide)="cancel()"> -->

<!-- <header>
  <div class="container">
    <a href="#" class="logo">Student Registration APP </a>
    <nav>
        <ul>
          <li><a href="#" routerLink="/">Student Details</a></li>
          <li><a href="#" routerLink="/course">Course Details</a></li>
        </ul>
    </nav>
  </div>
</header> -->

<!-- <div class="container"> -->
<router-outlet></router-outlet> 
<!-- </div> -->


<!-- [formGroup]="contactForm" (ngSubmit)="onSubmit()" -->