<app-menu></app-menu>
<h1>dashboard works!</h1>
<!-- Modal gallery -->
<!-- <app-menu></app-menu> -->
<section class="">
    <section class="">
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
          <div class="bg-image hover-overlay ripple shadow-1-strong rounded"data-ripple-color="light">
            <img src="https://mdbootstrap.com/img/screens/yt/screen-video-1.jpg" class="w-100"/>
            <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal1">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="https://mdbootstrap.com/img/screens/yt/screen-video-2.jpg"
              class="w-100"
            />
            <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal2">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div> 
  
       <div class="col-lg-4 mb-4 mb-lg-0">
          <div
            class="bg-image hover-overlay ripple shadow-1-strong rounded"
            data-ripple-color="light"
          >
            <img
              src="https://mdbootstrap.com/img/screens/yt/screen-video-3.jpg"
              class="w-100"
            />
            <a href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal3">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
            </a>
          </div>
        </div> 
      </div>
    </section>
    
  </section>
  <!-- Modal gallery -->
  
  
  <div class="user-table">
      <table class="table">
          <thead class="thead-light">
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">Course Name</th>
                  <th scope="col">Course Type</th>
                  <th scope="col">Course Price</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let td of userTable">
                  <td>{{td.courseId}}</td>
                  <td>{{td.courseName}}</td>
                  <td>{{td.courseType}}</td>
                  <td>{{td.coursePrice}}</td>
              </tr>
          </tbody>
      </table>
  </div>
  